[hidden] {
  display: none;
}

.gaarf.modal-container,
.gaarf.modal-bg,
.gaarf.modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.gaarf.modal-container {
  position: fixed;
  overflow: hidden;
}

.gaarf.modal-bg {
  background-color: black;
  transition: opacity 4s ease-in-out;
  opacity: 1;
}
.modal-container.in .gaarf.modal-bg {
  opacity: .6;
}

.gaarf.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gaarf.modal-main {
  background-color: white;
  border-radius: 10px;
  transition: transform .4s ease-in-out;
  transform: scale(0);
}
.modal-container.in .gaarf.modal-main {
  transform: scale(1);
}

.gaarf.modal-main > h3 {
  text-align: center;
  font-family: Geneva, Tahoma, sans-serif;
}

.gaarf.modal-content {
  max-height: 60vh;
  max-width: 80vh;
  overflow: auto;
  padding: 1em;
}

.gaarf.modal-footer {
  text-align: center;
  padding: 1em;
}